<!-- Load base.html -->
{% extends 'blog/base.html' %}

<!-- Load Static files -->
{% load static %}

<!-- Title -->
{% block title %} درباره ما {% endblock %}

<!-- Header Title -->
{% block header-title %}درباره ما{% endblock %}

<!-- Sub-header Title -->
{% block sub-header-title %}ما را بهتر بشناسید!{% endblock %}

<!-- Header Image -->
{% block header-img %}{% static 'blog/img/about-bg.jpg' %}{% endblock %}

<!-- Page Content -->
{% block page-content %}
<h3>{{ about.description }}</h3>
{% endblock %}

<!-- Copyright Text -->
{% block copyright-footer %}Copyright &copy; Django Blog 2020{% endblock %}
