<!-- Load base.html -->
{% extends 'blog/base.html' %}

<!-- Load Static files -->
{% load static %}

<!-- Title -->
{% block title %}جنگو بلاگ | {{ category.title }}{% endblock %}

<!-- Header Title -->
{% block header-title %}{{ category.title }}{% endblock %}

<!-- Sub-header Title -->
{% block sub-header-title %}پست های مربوط به {{ category.title }}{% endblock %}

<!-- Header Image -->
{% block header-img %}{{ category.thumbnail.url }}{% endblock %}

<!-- Articles List -->
{% block articles-list %}
{% for article in page_obj %}
<div class="post-preview">
  <a href="{% url 'blog:article_content' article.slug %}">
    <h2 class="post-title">
      {{ article.title }}
    </h2>
    <h3 class="post-subtitle">
      <!-- 30 is the limit of the words of article description shown in index,
      you may want to change it -->
      {{ article.description|truncatewords:30 }}
    </h3>
  </a>
<p class="post-meta">پست شده در {{ article.publish }}</p>
</div>
<hr>
{% endfor %}
{% endblock %}

<!-- Copyright Text -->
{% block copyright-footer %}Copyright &copy; Django Blog 2020{% endblock %}
