<!-- Load base.html -->
{% extends 'blog/base.html' %}

<!-- Load Static files -->
{% load static %}

<!-- Title -->
{% block title %}جنگو بلاگ{% endblock %}

<!-- Header Title -->
{% block header-title %}به جنگو بلاگ خوش آمدید!{% endblock %}

<!-- Sub-header Title -->
{% block sub-header-title %}این پروژه فقط برای تمرین است!{% endblock %}

<!-- Header Image -->
{% block header-img %}{% static 'blog/img/home-bg.jpg' %}{% endblock %}

<!-- Copyright Text -->
{% block copyright-footer %}Copyright &copy; Django Blog 2020{% endblock %}
