<!-- Load base.html -->
{% extends 'blog/base.html' %}

<!-- Header Image -->
{% block header-img %}{{ article.thumbnail.url }}{% endblock %}

<!-- Title -->
{% block title %}{{ article.title }}{% endblock %}

<!-- Header Title -->
{% block header-title %}{{ article.title }}{% endblock %}

<!-- Sub-header Title -->
{% block sub-header-title %}{% endblock %}

<!-- Article Content -->
{% block page-content %}{{ article.description|linebreaks }}{% endblock %}

<!-- Copyright Text -->
{% block copyright-footer %}Copyright &copy; Django Blog 2020{% endblock %}